<script type="text/javascript" >
    selectMenu('audience');
</script>
<div class="span9">
    <div class="hero-unit">
        <i class="icon-signal inline"></i><small>en temps réel</small>
        <h1 class="block-message">Audience</h1>
        <img src="/img/audience.PNG" alt="" width="760px"/>

    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span4">
            <i class="icon-align-justify"></i><small>Visites</small>
            <h2>200 000</h2>
            <p><img src="/img/visites.PNG" alt="" width="250px"></p>
            <hr/>
            <h4>Pourcentage du plan réalisé</h4>

            <div class="pull_right"><h2>66 %</h2></div>
            <div class="progress progress-striped
     active">
                <div class="bar"
                     style="width: 66%;"></div>
            </div>
        </div><!--/span-->
        <div class="span4">
            <i class="icon-align-justify"></i><small>Pages Vues</small>
            <h2>900 000</h2>
            <p><img src="/img/pagesVues.PNG" alt="" width="250px"></p>
            <hr/>
            <h4>Pourcentage du plan réalisé</h4>

            <div class="pull_right"><h2>53 %</h2></div>
            <div class="progress progress-striped
     active">
                <div class="bar"
                     style="width: 53%;"></div>
            </div>
        </div><!--/span-->
        <div class="span4">
            <p><img src="/img/twitter.PNG" alt="" id="" width="250px"></p>
            <hr/>
            <p><img src="/img/facebook.PNG" alt=""  width="250px"></p>
            <hr/>
            <p><img src="/img/commentaires.PNG" alt=""  width="250px"></p>
            <hr/>
        </div><!--/span-->
    </div><!--/row-->

</div><!--/span-->