<script type="text/javascript" >
    selectMenu('concurrence');
</script>
<div class="span9">

        <i class="icon-screenshot inline"></i><small>Homepage</small>
        <h1 class="block-message">Concurrence</h1>
        <div id="myCarousel" class="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="http://lorempixel.com/850/600/nature/1" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/2" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/4" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/5" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/6" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/7" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/8" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/9" alt=""></div>
                <div class="item"><img src="http://lorempixel.com/850/600/nature/10" alt=""></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

    </div>

    <script type="text/javascript">
        $('.carousel').carousel();
    </script>

</div><!--/span-->