<script type="text/javascript" >
    selectMenu('tendances');
</script>
<div class="span9">
    <div class="hero-unit">
        <i class="icon-edit inline"></i><small>Top actualités</small>
        <h1 class="block-message">Google</h1>
        <div class="row-fluid">

            <div class="span2 offset3">
                <div class="btn-mini btn-info">Le parisien</div>
                <img src="http://lorempixel.com/100/80/transport" alt="">
                <h5>Sed ut perspiciatis unde omnis</h5>


            </div><!--/span-->
            <div class="span2 offset3">
                <div class="btn-mini btn-info">Lequipe.fr</div>
                <img src="http://lorempixel.com/100/80/sports" alt="">
                <h5>Sed ut perspiciatis unde omnis</h5>


            </div><!--/span-->
            <div class="span2 offset3">
                <div class="btn-mini btn-info">20 minutes.fr</div>
                <img src="http://lorempixel.com/100/80/city" alt="">
                <h5>exercitationem ullam corporis  </h5>


            </div><!--/span-->
            <div class="span2 offset3">
                <div class="btn-mini btn-info">Le parisien</div>
                <img src="http://lorempixel.com/100/80/fashion" alt="">
                <h5>Nam libero tempore, cum soluta nobis est eligendi optio cumque</h5>


            </div><!--/span-->
            <div class="span2 offset3">
                <div class="btn-mini btn-info">ZDN.net</div>
                <img src="http://lorempixel.com/100/80/technics" alt="">
                <h5>occur in which toil and pain can procure him some great pleasure.</h5>


            </div><!--/span-->
            <div class="span2 offset3">
                <div class="btn-mini btn-info">Le monde</div>
                <img src="http://lorempixel.com/100/80/people" alt="">
                <h5>ndignation and dislike men who are so beguiled a</h5>

            </div><!--/span-->

        </div><!--/row-->

    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span4">
            <i class="icon-search "></i><small>Top recherches</small>
            <h2>Google</h2>
            <ul class="unstyled">
                <li>carolina panthers</li>
                <hr/>
                <li>facebook ipo</li>
                <hr/>
                <li>irs</li>
                <hr/>
                <li>ground hog day</li>
                <hr/>
                <li>shaun white</li>
            </ul>

        </div><!--/span-->
        <div class="span4">
            <i class="icon-search"></i><small>Top Tweet</small>
            <h2>Yahoo</h2>
            <ul class="unstyled">
                <li>carolina panthers</li>
                <hr/>
                <li>facebook ipo</li>
                <hr/>
                <li>irs</li>
                <hr/>
                <li>ground hog day</li>
                <hr/>
                <li>shaun white</li>
            </ul>
        </div><!--/span-->
        <div class="span4">
            <i class="icon-search"></i><small>Top Tweet</small>
            <h2>Twitter</h2>
            <ul class="unstyled">
                <% for(var i=0; i<topTwitter.length; i++) {%>
                <li><%= topTwitter[i] %></li>
                <hr/>
                <% } %>

            </ul>
        </div><!--/span-->
    </div><!--/row-->

</div><!--/span-->