<script type="text/javascript" >
    selectMenu('topContenus');
</script>
<div class="span9">
    <div class="hero-unit">
        <i class="icon-edit inline"></i><small>Top</small>
        <h1 class="block-message">biographie</h1>
        <div class="row-fluid">
            <div class="span2 offset3">
                <img src="http://lorempixel.com/100/80/people/1" alt="">
                <h3>Henry Côté</h3>


            </div><!--/span-->
            <div class="span2 offset3">
                <img src="http://lorempixel.com/100/80/people/2" alt="">
                <h3>Marshall Petrie</h3>


            </div><!--/span-->
            <div class="span2 offset3">
                <img src="http://lorempixel.com/100/80/people/3" alt="">
                <h3>Maurelle Frappier</h3>


            </div><!--/span-->
            <div class="span2 offset3">
                <img src="http://lorempixel.com/100/80/people/4" alt="">
                <h3>Peppin Fortin</h3>


            </div><!--/span-->
            <div class="span2 offset3">
                <img src="http://lorempixel.com/100/80/people/5" alt="">
                <h3>Tabor Labbé</h3>


            </div><!--/span-->
            <div class="span2 offset3">
                <img src="http://lorempixel.com/100/80/people/6" alt="">
                <h3>Guerin Landry</h3>

            </div><!--/span-->

        </div><!--/row-->

    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span4">
            <i class="icon-align-justify"></i><small>Top</small>
            <h2>Article</h2>
            <p><img src="http://lorempixel.com/90/60/transport/" alt="">Sed ut perspiciatis unde omnis</p>
            <hr/>
            <p><img src="http://lorempixel.com/90/60/nightlife/" alt="">ntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque </p>
            <hr/>
            <p><img src="http://lorempixel.com/90/60/technics/" alt="">exercitationem ullam corporis suscipit laboriosam, </p>
            <hr/>
            
        </div><!--/span-->
        <div class="span4">
            <i class="icon-facetime-video"></i><small>Top</small>
            <h2>Vidéo</h2>
            <p><img src="http://lorempixel.com/90/60/sports/" alt="">placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
            <hr/>
            <p><img src="http://lorempixel.com/90/60/city/" alt="">occur in which toil and pain can procure him some great pleasure.</p>
            <hr/>
            <p><img src="http://lorempixel.com/90/60/fashion/" alt="">aepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
            <hr/>
        </div><!--/span-->
        <div class="span4">
            <i class="icon-picture"></i><small>Top</small>
            <h2>Diapo</h2>
            <p><img src="http://lorempixel.com/90/60/animals/" alt="">ducimus qui blanditiis praesentium voluptatum deleniti  </p>
            <hr/>
            <p><img src="http://lorempixel.com/90/60/nature/" alt="">ndignation and dislike men who are so beguiled a</p>
            <hr/>
            <p><img src="http://lorempixel.com/90/60/people/" alt="">Nam libero tempore, cum soluta nobis est eligendi optio cumque  </p>
            <hr/>
        </div><!--/span-->
    </div><!--/row-->

</div><!--/span-->